body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #F9FAF8;
    padding-left: 300px;
    padding-right: 300px;
}

.header_top {
    display: flex;
    flex:1;
    align-items: center;
    gap: 16px;
    margin-bottom:100px;
}

.header_top h1 {
    font-size: 24px;
    margin-right: auto;
} 

.header_bottom {
    display: flex;
    align-items: stretch;
    margin-bottom: 150px;
    gap:50px;
    flex-wrap: wrap;
}

.header_bottom h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}  

.header_bottom p {
    font-size: 18px;
}  

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}

.left {
    max-width: 460px;
}

.right {
    display: flex;
    align-items: stretch;
    flex: 1;
    max-height: 250px;
}

.right img {
        width: 100%;
        object-fit: cover;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.cadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.cadre img {
    width: 100%;
    max-width: 150px;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1 ;
    font-style: italic;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    padding-left:510px;
    padding-right:510px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0px;
}

.quote p {
    margin:0;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 20px;
    margin-top: auto;
}