body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #F9FAF8;
    padding-left: 300px;
    padding-right: 300px;
}

.header_top {
    display: flex;
    flex:1;
    align-items: center;
    gap: 16px;
    margin-bottom:100px;
}

.header_top h1 {
    font-size: 24px;
    margin-right: auto;
} 

.header_bottom {
    display: flex;
    align-items: stretch;
    margin-bottom: 150px;
    gap:50px;
}

.header_bottom h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}  

.header_bottom p {
    font-size: 18px;
}  

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}

.left {
    max-width: 460px;
}

.right {
    display: flex;
    align-items: stretch;
    flex: 1;
    max-height: 250px;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


